---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

<!-- Calendly badge widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<script type="text/javascript">window.onload = function() { Calendly.initBadgeWidget({ url: 'https://calendly.com/fclxt2357/new-meeting', text: 'Schedule time with me', color: '#0069ff', textColor: '#ffffff' }); }</script>
<!-- Calendly badge widget end -->
    
<p style="text-align: center"><a href="https://clustrmaps.com/site/1bmc9"  title="Visit tracker"><img src="//www.clustrmaps.com/map_v2.png?d=BJBhkGmTG-jPq6La1XwFO2nSKD5zoUOgPvQMraanKhc&cl=ffffff" /></a>
    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
